<aside class="sidebar {% if page.push_sidebar_down %}push{% endif %}">
	<div><a class="editor-link btn" href="cloudcannon:collections/_data/sidebar.yml" class="btn"><strong>&#9998;</strong> Edit sidebar</a></div>
	<div class="author">
		<p>
			<a href="{{ site.baseurl }}/about/">
				<img src="{{ site.baseurl }}{{ site.data.sidebar.author_image }}" alt="author" class="author">
			</a>
		</p>
		<p>{{ site.data.sidebar.description_markdown | markdownify }}</p>
	</div>

	<div class="social-icons">
		<a target="_blank" href="https://github.com/{{ site.data.sidebar.github }}">{% include social-icon.html icon="Github" %}</a>
		<a target="_blank" href="https://linkedin.com/in/{{ site.data.sidebar.linkedin }}">{% include social-icon.html icon="LinkedIn" %}</a>
		<a target="_blank" href="https://stackexchange.com/users/{{ site.data.sidebar.stackexchange }}">{% include social-icon.html icon="StackExchange" %}</a>
		<a target="_blank" href="https://www.instagram.com/{{ site.data.sidebar.instagram }}">{% include social-icon.html icon="Instagram" %}</a>
		<a target="_blank" href="mailto:{{ site.data.sidebar.email }}">{% include social-icon.html icon="Email" %}</a>
		<a target="_blank" href="{{ site.baseurl }}/feed.xml">{% include social-icon.html icon="RSS" %}</a>
	</div>
	
</aside>
